{% extends "plantilla2.html" %}
{% load static %}
{% block title %} Posteo {% endblock %}
{% block content %}

<!– Insertar contenido desde aqui –>



<div style="background: pink; color: black;">


    <article>
        <div>
            <div>
                <h2 class="post-titulo">{{posteo.titulo}}</h2>
                <p class="post-autor">Autor: <a href="#">{{ posteo.usuario.username }} </a></p>
                <p>Categoria : <a href="#">{{posteo.categoria}} </a></p>
                <p class="post-hora">Fecha de creacion: {{posteo.fecha_creacion}}</p>
                <p class="post-texto">{{posteo.texto}} </p>
            </div>

            <img src="{{posteo.imagen.url}}" width="400" height="300">

        </div>
    </article>
    <div>
        Compartir en:
        <div class="social-share">
            <a href="http://www.facebook.com/sharer.php?display=popup&u={{ request.scheme }}://{{ request.META.HTTP_HOST }}/post{% url 'ver_post' posteo.id %}" target="_blank" rel="nofollow noopener"> <img src="{% static 'img/social-media-icons/icons-facebook-128px.png' %}" width="48" height="48"> </a>
        </div>
        <div class="social-share">
            <a href="https://api.whatsapp.com/send?text={{posteo.titulo}}&#32&#32&#32&#124&#32&#32&#32{{ request.scheme }}://{{ request.META.HTTP_HOST }}/post{% url 'ver_post' posteo.id %}" target="_blank" rel="nofollow noopener"><img src="{% static 'img/social-media-icons/icons-whatsapp-128px.png' %}" width="48" height="48"> </a>
        </div>
        <div class="social-share">
            <a href="https://twitter.com/intent/tweet?text={{posteo.titulo}}%20%20%20%20&url={{ request.scheme }}://{{ request.META.HTTP_HOST }}/post{% url 'ver_post' posteo.id %}" target="_blank" rel="nofollow noopener"><img src="{% static 'img/social-media-icons/icons-twitter-128px.png' %}" width="48" height="48"> </a>
        </div>

    </div>
    


    <div style="background: white; color: gray;">
        <p>========================</p>
        <p>AQUI VAN LOS COMENTARIOS</p>
        <br>
        <br>
        <p>========================</p>
    </div>



</div>

<p><a href="{% url 'publicaciones' %}"">"Volver" </p> 


<!– Insertar contenido hasta aqui –>


{% endblock %}